body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    background: #080E11;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #BBB;
}

textarea:focus, input:focus{
    outline: none;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 10px;
}

.toolbar{
    width: clamp(300px, 50%, 540px); 
    height: clamp(40px, 10vw, 55px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: RGB(8, 14, 17, 0.7);
    border: 2px solid #292929;
    border-radius: 40px;
    backdrop-filter: blur(3px);
}

.home-icon{
    width: clamp(15px, 3vw, 26px);
    height: clamp(15px, 3vw, 26px);
    margin-left: -25px;
}

.toolbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toolbar ul li{
    display: inline;
    color: #BBB;
    font-size: clamp(10px, 3vw, 14.7px);
    font-family: "Poppins";
}

.logo-container{
    width: clamp(100px, 20%, 150px);
    display: flex;
    align-items: center;
}

.logo{
    width: clamp(55px, 7vw, 70px);
    height: clamp(40px, 5vw, 60px);
}


.contact{
    width: clamp(120px, 7vw, 150px);
    height: clamp(40px, 5vw, 60px); 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080E11;
}

.contact button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: clamp(40px, 3vw, 45px);
    border: 2px solid #BBB;
    border-radius: 40px;
    color: #BBB;
    font-family: "Poppins";
    font-size: 12px;
}

/* MIDDLE-BODY */

.middle-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.text-part{
    display: flex;
    flex-direction: column;
    width: clamp(320px, 80%, 540px);
    padding: clamp(20px, 5vw, 40px) clamp(20px, 5vw, 40px);
}

.talk-ab-me{
    height: 100%;
    padding: clamp(5px, 5vw, 40px);
}

.title{
    font-family: "Poppins";
    font-size: clamp(10px, 2vw, 12px);
    color: #FFF;
    font-weight: 400;
    width: 97%;
}

.subtitle{
    font-family: "Poppins";
    font-size: clamp(10px, 2vw, 12px);
    color: #BBB;
    font-weight: 300;
    width: 97%;
}

.or{
    text-align: center;
    font-family: "Poppins";
    font-size: clamp(10px, 2vw, 12px);
    color: #BBB;
    font-weight: 300;
    margin-bottom: 30px;
}

.message-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;
}

.icon-holder{
    height: clamp(40px, 8vw, 50px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #292929;
    border-radius: 30px;
    margin-bottom: 30px;
}

.names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: clamp(40px, 8vw, 50px); 
    margin-bottom: clamp(20px, 4vw, 30px);
}

input, textarea{
    color: #BBB;
    padding: 0 9px;
}

.names input{
    width: clamp(100px, 23vw, 150px); 
    height: clamp(40px, 8vw, 50px);
    border: 1px solid #BBB;
    border-radius: 8px;
    background: transparent;
    margin-bottom: clamp(15px, 3vw, 25px);
}

.names label{
    margin-bottom: clamp(5px, 2vw, 10px);
    font-family: "Poppins";
    font-size: clamp(10px, 2vw, 12px);
    color: #BBB;
    font-weight: 400;
}

.first-name-det, .last-name-det{
    display: flex;
    flex-direction: column;
}

.email-input, .message-input{
    margin-bottom: clamp(20px, 4vw, 30px); 
    margin-top: clamp(10px, 2vw, 20px); 
    height: clamp(40px, 8vw, 50px);
    border: 1px solid #BBB;
    border-radius: 8px;
    background: transparent;
}

.email-label, .message-label{
    font-family: "Poppins";
    font-size: clamp(8px, 2vw, 12px);
    color: #BBB;
    font-weight: 400;
}

textarea{
    height: 50px;
    background: transparent;
    border: 1px solid #BBB;
    border-radius: 8px;
}

#message-text{
    margin-top: 12px;
    margin-bottom: 22px;
    color: #BBB;
    font-size: clamp(8px, 2vw, 12px);
    color: #BBB;
    font-weight: 400;
    padding-top: 10px;
}

.send-btn{
    margin-bottom: clamp(6px, 1vw, 10px);
    margin-top: clamp(20px, 4vw, 30px);
    width: 100%;
    height: clamp(40px, 8vw, 50px);
    border: none;
    border-radius: 8px;
    background: #BBB;
    color: #080E11;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.3px;
}
/* FOOTER */

.footer{
    margin-top: auto;
    margin-bottom: -12px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #292929;
    color: #BBB;
    font-family: "Poppins";
    font-size: 10px;
    color: #BBB;
    font-weight: 500;
    border-radius: 40px;
}

@media (max-width: 1094px) {
    .toolbar{
        position: fixed; 
        bottom: 0;
        left: 0; 
        right: 0; 
        margin: 0 auto 70px auto;
    }
    .footer{
        border: none;
    }
}