body {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    background: #080E11;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #BBB;
}

.container{
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.navbar{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
}

.toolbar{
    width: 540px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #292929;
    border-radius: 40px;
    backdrop-filter: blur(3px);
    /* background: rgb(14, 17, 0.9); */
}

.home-icon{
    margin-left: -25px;
    width: 26px;
    height: 26px;
}

.toolbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toolbar ul li{
    display: inline;
    color: #BBB;
    font-size: 14.7px;
    font-family: "Poppins";
}

.logo-container{
    width: 150px;
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    height: 50px;
}


.contact{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080E11;
    /* padding: 8px 24px; */
}

.contact button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 45px;
    border: 2px solid #BBB;
    border-radius: 40px;
    color: #BBB;
    font-family: "Poppins";
    font-size: 12px;
}

/* MIDDLE-BODY */

.delete-model{
    position: absolute;
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #080E11;
    opacity: 80%;
}

.box-model{
    width: 300px;
    height: 110px;
    border: 2px solid #BBB;
    border-radius: 5px;
    overflow: hidden;
    background: #000;
    opacity: 100%;
}

.confirm-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-size: 13px;
    text-align: center;
    color: #BBB;
    height: 30px;
    padding: 10px 40px;
    border-bottom: 2px solid #BBB;
}

.confirmation-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

.confirmation-boxes button{
    width: 100px;
    height: 35px;
    border-radius: 3px;
}

.cancel-btn{
    border: none;
}

.delete-btn{
    border: 2px solid#E87B7B;
    color: #E87B7B;
    background: transparent;
}

.middle-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    /* border: 2px solid grey; */
    overflow: scroll;
}

.author{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: end;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 320;
    color: #BBB;
}

.author-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 50px;
    background: transparent;
    border: 2px solid #BBB;
    border-radius: 5px;
}


.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 780px;
    /* border: 2px solid purple; */
    margin: 40px 0;
}

.blog-image-container{
    width: 780px;
    height: 520px;
    border-radius: 10px;
    overflow: hidden;
}

.blog-image{
    height: 830px;
    height: 540px;
    border-radius: 4px;
}

.like-btn{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    height: 60px;
}

.like-btn img{
    width: 25px;
    height: 25px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    color: #DDD;
    margin: 10px 0;
    letter-spacing: -0.3px;
}

.main-content{
    font-family: "Poppins";
    font-size: 18px;
    color: #BBB;
    font-weight: 350;
}

.subtitle{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0;
    color: #DDD;
    text-align: center;
    padding: 0 40px;
}

.buttons{
    display: flex;
    align-items: center;
    /* border: 2px solid orange; */
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.buttons button{
    border-radius: 6px;
    width: 120px;
    height: 50px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
}

.update{
    margin-right: 20px;
    border: 2px solid #96CFF7;
    color: #96CFF7;
    background: none;
}

.delete{
    border: 2px solid #E87B7B;
    background: none;
    color: #E87B7B;
}

.comment-section{
    margin-top: 35px;
}

.comments-title{
    font-family: "Poppins";
    font-size: 15px;
    color: #DDD;
    margin-bottom: 35px;
}

.comment-box{
    width: 400px;
    height: fit-content;
    padding: 10px;
    border: 1px solid #BBB;
    border-radius: 6px;
}

.comment-box .owner{
    font-family: "Poppins";
    font-size: 12px;
    color: #DDD;
}

.comment-box .date-created{
    font-family: "Poppins";
    font-size: 8px;
    color: #BBB;
}

.comment-box .comment{
    font-family: "Poppins";
    font-size: 12px;
    color: #BBB;
}

.add-comment{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 420px;
    height: fit-content;
    margin-top: 20px;
}

.comment-input{
    width: 400px;
    height: 80px;
    font-family: "Poppins";
    color: #BBB;
    border: 1px solid #BBB;
    border-radius: 6px;
    font-size: 12px;
    padding: 0 10px;
    margin-bottom: 20px;
    background: none;
}

.comment-input::placeholder{
    color: #BBB;
}

.post-button-container{
    display: flex;
    justify-content: flex-end;
}

.add-comment .post{
    width: 95px;
    height: 35px;
    background: #BBB;
    border: none;
    border-radius: 4px;
    font-family: "Poppins";
    font-size: 14px;
}

input:focus{
    outline: none;
}









/* FOOTER */

.footer{
    margin-top: auto;
    margin-bottom: -12px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #292929;
    color: #BBB;
    font-family: "Poppins";
    font-size: 10px;
    color: #BBB;
    font-weight: 500;
    border-radius: 40px;
}